img{
    width:100%;
    height: 450px;
}
#select{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0px;
    margin: auto;
}
#select select{
    font-size: 15px;
    border: none;
    background-color: #4f3267;
    color: white;
    padding:auto;
    padding: 20px 0px;
    cursor: pointer;
    margin-top:-4px;
}
#filter{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(60deg, #ebccf8 40%, #beb3ff 60%);
    margin: auto;
    display: flex;
}
.moresort{
    width: 85%;
    height: 50%;
    margin-top: 30px;
}
.feat{
    height: 50%;
    margin-top: 25px;
    margin-left: 80px;
}
.moresort button{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    background-color: white;
    margin-left:20px;
}
.moresort button:hover{
    cursor: pointer;
    background-color: #c850c0;
    background-image: linear-gradient(59deg, #c850c0 38%, #4158d0 78%);
    color: white;
}
.feat select{
    border: none;
    font-size: 16px;
    padding: 12px 80px 12px 0px;
    background-color: white;
    margin-right: 10px;
    text-align: left;
}
#container{
    display: grid;
    margin:25px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    gap: 30px;
}
#container img{
    height: 350px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 20px;
    border-radius: 10px;
}
span{
    margin:10px 15px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    justify-content:space-evenly;
}
p{
    justify-content: left;
    color: grey;
    font-size: 18px;
    margin-top: 5px;
}
.btn1{
    padding: 10px 20px;
    border-radius: 12px;
    border:1px solid #654c7a;
    background-color:white;
    color:#654c7a;
    cursor:pointer;
    margin-right: 60px;
}
.btn2{
    padding: 10px 20px;
    border-radius: 12px;
    border:1px solid #74df63;
    background-color:white;
    color:#74df63;
    cursor:pointer;
    margin-left:30px;
}
